@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #11161f;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: green black;
}

.my-text-field {
  font-size: 2em;
}


.small-button {
  margin: 0;
  padding: 0;
  line-height: 1; // Убираем лишнее пространство вокруг иконки
background: transparent; // Прозрачный фон
border: none; // Убираем границу
}

.icon-error {
  color: var(--lumo-text-color); // Цвет иконки - красный
}

.text-error {
  cursor: pointer; // Курсор в виде руки для интерактивности
color: var(--lumo-error-color); // Цвет текста - красный
}


.note-card {
  /* Стили контейнера */
  display: inline-block; /* или block в зависимости от вашего макета */
  max-width: 900px; /* пример ширины, задайте свою */
  margin: 0px; /* пространство вокруг карточки */
  padding: 16px; /* внутренние отступы карточки */
  box-sizing: border-box;

  /* Шрифты и текст */
  font-family: 'Open Sans', sans-serif;
  color: #495456; /* цвет текста */

  /* Фон и тени */
  background: #161f2b; /* фон карточки */
  box-shadow: 0px 5px 15px rgb(0, 9, 14); /* тень карточки */
  border-radius: 6px; /* скругление углов */

  /* Переходы и интерактивность */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* плавный переход тени и преобразования */

  /* Псевдо-параметры для наведения */
  --offset-multiplier: 4px; /* множитель смещения */
}

.note-card:hover {
  --offset-multiplier: 6px; /* увеличенное смещение при наведении */
  transform: scale(1.03); /* небольшое увеличение карточки */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* усиленная тень */
}

/* Стили для заголовков и параграфов внутри карточки */
.note-card h2 {
  font-family: 'Arbutus Slab', serif;
  font-weight: normal;
  color: #000;
  line-height: 1.25;
}

.note-card p {
  font-size: 14px;
}

/* CSS */
.no-padding-margin {
  padding: 0;
  margin: 0;
}

.custom-checkbox {
  /* Пример стилей, можно модифицировать под свои нужды */
  background-color: #161f2b;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  box-shadow: 0px 5px 15px rgb(0, 9, 14); /* тень карточки */
}

.smaller-text {
  font-size: 13px; /* или любой другой размер, который вам нужен */
  font-style: italic;
  line-height: 1.7; /* для уменьшения расстояния между строками */
}

.note-bar-padding {
  margin: 15px 0px 12px -15px;
  padding-top: 0px;
}

