vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}


/* CSS для иконки перетаскивания */
.drag-handle {
  color: white; /* Устанавливаем цвет иконки */
  font-size: 1.0rem; /* Устанавливаем размер иконки */
  cursor: grab; /* Курсор, указывающий, что элемент можно перетаскивать */
  margin-right: -0.5em; /* Добавляем отступ справа от иконки */
}

/* Стили для контейнера элемента, чтобы выровнять иконку и текст */
.project-item {
  display: flex;
  align-items: center; /* Вертикальное выравнивание элементов внутри */
  border-radius: 3px; /* Скругление углов */
  margin-bottom:  0.5em; /* Отступ снизу */
}

/* Убираем стандартные стили для ссылок внутри .project-item */
.project-item a {
  color: white; /* Цвет текста ссылки */
  text-decoration: none; /* Убираем подчеркивание */
  margin-left: 0em;
  cursor: grab; /* Курсор, указывающий, что элемент можно перетаскивать */
}

.italic {
  font-style: italic;
}

.my-text-field {
  font-size: 2em;
}


.small-button {
  margin: 0;
  padding: 0;
  line-height: 1; // Убираем лишнее пространство вокруг иконки
background: transparent; // Прозрачный фон
border: none; // Убираем границу
}

.icon-error {
  color: var(--lumo-text-color); // Цвет иконки - красный
}

.text-error {
  cursor: pointer; // Курсор в виде руки для интерактивности
color: var(--lumo-error-color); // Цвет текста - красный
}

.note-card {
  border: 1px solid rgba(100,100,100,0.6);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 1px;
  padding: 10px;
  margin-bottom: 0px;
  transition: box-shadow 0.3s ease-in-out;
}

.note-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
